<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
 <div>
  <h1>Ecom</h1>
 </div>


  <div class="headerleft">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search"  aria-label="Search">
    </form>
  </div>
  <span class="fas fa-search search-icon"></span>

  <div>
    <button class="btn btn-primary">
      <i style="font-size: 25px;" class="fa-solid fa-cart-shopping"></i>
      <div class="badge bg-danger">5</div>
    </button>
  </div>


</nav>


