<div class="card-top container-fluid">
  <div class="container d-flex">
    <div class="item1">
      <a >
        <img src="https://drive.google.com/file/d/1aNGBhghg__wqeVa4pErST74gByn2KvBZ/view?usp=share_link" alt="">
        <h6>All Products</h6>
      </a>

    </div>
    <div class="item2">
      <a >
        <img src="https://drive.google.com/file/d/1aNGBhghg__wqeVa4pErST74gByn2KvBZ/view?usp=share_link" alt="">
        <h6>Electronics</h6>
      </a>

    </div>
     <div class="item3">
      <a >
        <img src="https://drive.google.com/file/d/1aNGBhghg__wqeVa4pErST74gByn2KvBZ/view?usp=share_link" alt="">
        <h6>Jewllery</h6>
      </a>

    </div>
    <div class="item4">
      <a >
        <img src="https://drive.google.com/file/d/1aNGBhghg__wqeVa4pErST74gByn2KvBZ/view?usp=share_link" alt="">
        <h6>Fashion</h6>
      </a>

    </div>

  </div>

</div>

<div class="container">
  <div class="row">
    <ng-container *ngFor="let item of productList">
      <div class="card col-md-3">
        <img src="" alt="">
        <h5>Descprition</h5>
        <p>mane </p>
        <p>batee</p>
        <button class="btn btn-primary">Add to cart</button>
      </div>

    </ng-container>
    
    

  </div>
</div>


